@font-face {
  font-family: "TT Lakes Regular";
  src: url("./fonts/TTLakes-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes Bold";
  src: url("./fonts/TTLakes-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes-Medium";
  src: url("./fonts/TTLakes-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "TT Lakes Regular", sans-serif;
  background-color: #f2f2f2;
}

p {
  margin: 0px;
}

.header {
  background: linear-gradient(-270deg, #f8f8f8 0%, #ffffff 98.61%);
  border-top: 1px solid #d9fff5;
  width: auto;
  height: 80px;
  display: flex;
  color: #7e7e82;
  margin: 0;
  font-size: 16px;
}

.header__title {
  width: 320px;

  padding-left: 16px;
  padding-top: 16px;
}

.swiper {
  width: 300px;
  height: 100px;
}

.swiper-pagination-bullet {
  background-color: #b5b6bc !important;
}

.swiper.swiper-style {
  display: flex;
  justify-content: start;
  margin: 0px;
}
.swiper-pagination.swiper-pagination-style {
  margin: 0px;
  position: relative;
  width: 270px !important;
  left: 0 !important;
}

.item {
  display: flex;
  padding: 10px 16px;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  background-color: #ffffff;
  align-items: center;
  margin-left: 16px;
  margin-top: 16px;
  justify-content: space-between;
  margin-bottom: 16px;
  margin-right: 16px;
  width: 200px;
  height: 50px;
  cursor: pointer;
}

.item__go {
  width: 35px;
  height: 35px;
}

.item__lenovo {
  width: 108px;
  height: 32px;
}
.item__samsung {
  width: 116px;
  height: 39px;
}

.item__apple {
  width: 40px;
  height: 40px;
}
.item__hp {
  width: 50px;
  height: 50px;
}

.wrapper {
  display: none;
}

@media (min-width: 768px) {
  .swiper-pagination {
    display: none;
  }
  .swiper.swiper-style {
    display: none;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    height: 170px;
    overflow: hidden;
  }

  .container-show {
    height: auto;
  }

  .header {
    margin: 0;
    width: auto;
    height: 56px;
    margin-bottom: 24px;
  }

  .header__title {
    width: auto;
  }

  .swiper-slide {
    display: none;
  }

  .item {
    width: 224px;
    height: 72px;
    margin: 0;
    margin-right: 16px !important;
    margin-bottom: 16px;
    margin-left: 16px;
  }
  .btn-wrapper {
    display: flex;
  }
  #toggle-btn {
    display: flex;
    cursor: pointer;
    border: none;
    background: none;
    font-family: "TT Lakes-Medium";
    font-size: 16px;
    color: #1b1c21;
    margin-top: 8px;
  }
  .arrow {
    width: 8px;
    height: 10px;
    margin-right: 10px;
    margin-left: 28px;
    margin-top: 10px;
  }
  .arrow-up {
    transform: rotate(180deg);
    margin-top: 20px;
  }
}

@media (min-width: 1120px) {
  .swiper-pagination {
    display: none;
  }
  .swiper.swiper-style {
    display: none;
  }
  .wrapper {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-around;
    width: 1100px;
  }
  .swiper-pagination.swiper-pagination-style {
    display: none;
  }
}
